
.node-bootstrap_grid > ul > li > .tl_content {
    padding-top: 6px;
}

.bootstrap-grid-meta {
    background: #f0f0f0;
    padding: 1px 4px 7px 4px;
    color: #555;
    margin: -5px -5px 5px;
}

.node-bootstrap_grid > ul > li > .tl_content > .bootstrap-grid-meta {
    padding-top: 5px;
    padding-bottom: 9px;
}

.bootstrap-grid-meta.invalid-grid {
    background: #faeeee;
    color: #c33;
}

.node-bootstrap_grid > .content-node-inner > .content-node-operations {
    margin-top: 20px;
}
